<div id="circularMenu" class="circular-menu">

  <a class="floating-btn" onclick="document.getElementById('circularMenu').classList.toggle('active');">
    <i class="fa fa-phone"></i>
  </a>

  <menu class="items-wrapper">
    <a href="#" class="menu-item"><img
      src="./assets/icons/skype.svg" alt=""></a>
    <a href="#" class="menu-item"><img
      src="./assets/icons/github.svg" alt=""></a>
    <a href="#" class="menu-item"><img
      src="./assets/icons/gmail.svg" alt=""></a>
    <a href="#" class="menu-item"><img
      src="./assets/icons/phone.svg" alt=""></a>
  </menu>

</div>


<div id="circularMenu1" class="circular-menu circular-menu-left active">

  <a class="floating-btn" onclick="document.getElementById('circularMenu1').classList.toggle('active');">
    <i class="fa fa-bars"></i>
  </a>

  <menu class="items-wrapper">
    <a hx-get="./pages/home.html" hx-swap="innerHTML" hx-target="#main" class="menu-item"><img
      src="./assets/icons/home.svg" alt=""></a>
    <a hx-get="./pages/exprience.html" hx-swap="innerHTML" hx-target="#main" class="menu-item"><img
      src="./assets/icons/work.svg" alt=""></a>
    <a hx-get="./pages/projects.html" hx-swap="innerHTML" hx-target="#main" class="menu-item"><img
      src="./assets/icons/projects.svg" alt=""></a>
    <a hx-get="./pages/education.html" hx-swap="innerHTML" hx-target="#main" class="menu-item"><img
        src="./assets/img/education-svgrepo-com.svg" alt=""></a>
    <a hx-get="./pages/skills.html" hx-swap="innerHTML" hx-target="#main" class="menu-item"><img
      src="./assets/icons/skills.svg" alt=""></a>

  </menu>

</div>