<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="./assets/css/mdb.min.css" rel="stylesheet" />
  <link href="./assets/css/main.css" rel="stylesheet" />
  <script src="./assets/js/htmx.min.js"></script>
  
  <title>Mahdi Alavi CV</title>
</head>

<body hx-indicator="#spinner">
  <!--Default icon-->

  <div class="loader spinner-wheel htmx-indicator" id="spinner">
  </div>

  <main id="main" class="" hx-get="./pages/home.html" hx-swap="innerHTML" hx-trigger="load">
  </main>


  <section id="circular-menue" hx-get="./circular-menue.html" hx-swap="innerHTML" hx-trigger="load"></section>

  <script src="./assets/js/bootstrap.min.js"></script>
  <script src="./assets/js/mdb.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="./assets/js/popper.min.js"></script>
  <script src="./assets/js/typewrite.js"></script>



</body>

</html>