@font-face {
  font-family: 'Roboto-Regular';
  src: url(../fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto-Light';
  src: url(../fonts/Roboto-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto-Thin';
  src: url(../fonts/Roboto-Thin.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto-Black';
  src: url(../fonts/Roboto-Black.ttf) format('truetype');
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto-Regular', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
	--primary: #88D5BF;
	--secondary: #5D6BF8;
	--third: #e27fcb;
}

.shape {
 	background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
  animation: morph 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  height: 400px;
  transition: all 1s ease-in-out;
  z-index: 5;
}

@keyframes morph {
  0% {
			border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
			background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
	} 
	
	50% {
			border-radius:  30% 60% 70% 40% / 50% 60% 30% 60%;
			background: linear-gradient(45deg, var(--third) 0%, var(--secondary) 100%);
	}
  
	100% {
		border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
		background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
	} 
}


.project-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}


.spinner-wheel {
  position: fixed;
  z-index: 99;
  /* make higher than whatever is on the page */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100px;
  height: 100px;
}

.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #1a1919;
}

.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}

.loader:after {
  color: #FF3D00;
  transform: rotateY(70deg);
  animation-delay: .4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {

  0%,
  100% {
    box-shadow: .2em 0px 0 0px currentcolor;
  }

  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }

  25% {
    box-shadow: 0 .2em 0 0px currentcolor;
  }

  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }

  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }

  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }

  75% {
    box-shadow: 0px -.2em 0 0 currentcolor;
  }

  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}


.wrapper {
  margin: 10vh
}

.pcard {
  border: none;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  overflow: hidden;
  border-radius: 10px;
  max-height: 350px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);

  @media (max-width: 768px) {
    max-height: 250px;
  }

  @media (max-width: 420px) {
    max-height: 200px;
  }

}

.card-hover-effect {
  -webkit-transform: rotate(0) scale(1);
  transform: rotate(0) scale(1);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.card-hover-effect:hover {
  -webkit-transform: rotate(0) scale(1);
  transform: rotate(0) scale(1);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.img-hover-effect img {
  -webkit-filter: grayscale(0) blur(0) brightness(0.8);
  filter: grayscale(0) blur(0) brightness(0.8);

  -webkit-transform: rotate(0) scale(1);
  transform: rotate(0) scale(1);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.img-hover-effect:hover img {
  -webkit-filter: blur(2px) brightness(0.6);
  filter: blur(2px) brightness(0.6);

  -webkit-transform: rotate(5deg) scale(1.4) ;
  transform: rotate(5deg) scale(1.4);
  transition: .4s ease-in-out;

}

.hover-scale-up {
  -webkit-transform: rotate(0) scale(1);
  transform: rotate(0) scale(1);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.hover-scale-up:hover {
  -webkit-transform: rotate(0) scale(1.02);
  transform: rotate(0) scale(1.02);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.hover-scale-down {
  -webkit-transform: rotate(0) scale(1);
  transform: rotate(0) scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.hover-scale-down:hover {
  -webkit-transform: rotate(0) scale(0.98);
  transform: rotate(0) scale(0.98);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.gradient-background {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.border-hover-effect {
  --c: #2aa9b3; /* the border color */
  --b: 5px;    /* the border thickness*/
  --g: 5px;     /* the gap on hover */
  
  padding: calc(var(--g) + var(--b));
  --_g: #0000 25%,var(--c) 0;
  background: 
    conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g))
     var(--_i,200%) 0  /200% var(--_i,var(--b))  no-repeat,
    conic-gradient(            at bottom var(--b) left  var(--b),var(--_g))
     0   var(--_i,200%)/var(--_i,var(--b)) 200%  no-repeat;
  transition: .3s, background-position .3s .3s;
}
.border-hover-effect:hover {
  --_i: 100%;
  transition: .3s, background-size .3s .3s;
}

.fade-me-in.htmx-added {
  opacity: 0;
}
.fade-me-in {
  opacity: 1;
  transition: opacity 1s ease-out;
}

.pcard .card-body {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;

}


.pcard:hover .card-body{
  opacity:0; 
  transition: opacity 0.3s ease-in-out;
}

.pcard .card-button{
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform:translate(-50%, -50%);
  transition: opacity 0.5s ease-in-out;
  border: white ;
}

.pcard:hover .card-button{
  opacity:1; 
  transition: opacity 0.5s ease-in-out;
}

.pcard img{
  -webkit-filter: grayscale(0) blur(0) brightness(0.8);
  filter: grayscale(0) blur(0) brightness(0.8);

  -webkit-transform: rotate(0) scale(1);
  transform: rotate(0) scale(1);
  -webkit-transition: filter 1s ease-in-out;
  transition: filter 1s ease-in-out;
}

.pcard:hover img{
  -webkit-filter: blur(1px) brightness(0.6);
  filter: blur(1px) brightness(0.6);
}



.sidebar-item:hover {
  color: #006ac0;
  text-shadow: 0 0 5px #006ac0;
  transform: scale(1.1) translate(10px);
}




.circular-menu {
  position: fixed;
  bottom: 1em;
  right: 1em;
}

.circular-menu .floating-btn {
  display: block;
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  background-color: hsl(4, 98%, 60%);
  box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, .26);  
  color: hsl(0, 0%, 100%);
  text-align: center;
  line-height: 3.9;
  cursor: pointer;
  outline: 0;
}


.circular-menu.active .floating-btn {
  box-shadow: inset 0 0 3px hsla(0, 0%, 0%, .3);
}

.circular-menu .floating-btn:active {
  box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, .4);
}

.circular-menu .floating-btn i {
  font-size: 1.3em;
  transition: transform .2s;  
}

.circular-menu.active .floating-btn i {
  transform: rotate(-45deg);
}

.circular-menu:after {
  display: block;
  content: ' ';
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  background-color: hsl(4, 98%, 60%);
  transition: all .3s ease;
}

.circular-menu.active:after {
  transform: scale3d(5.1, 5.1,1);
  transition-timing-function: cubic-bezier(.68, 1.55, .265, 1);
}

.circular-menu .items-wrapper {
  padding: 0;
  margin: 0;
}

.circular-menu .menu-item {
  position: absolute;
  top: .2em;
  right: .2em;
  z-index: -1;
  display: block;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-size: 1em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  text-align: center;
  line-height: 3;
  background-color: hsla(0,0%,0%,.1);
  transition: transform .3s ease, background .2s ease;
}

.circular-menu .menu-item img{
  width: 25px;
  filter: brightness(0) invert(1);

}

.circular-menu .menu-item:hover {
  background-color: hsla(0,0%,0%,.3);
  cursor: pointer;
  border: #ffffff;
  border-width: 1px;
  border-style: solid;

}

.circular-menu.active .menu-item {
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.circular-menu.active .menu-item:nth-child(1) {
  transform: translate3d(1em,-7em,0);
}

.circular-menu.active .menu-item:nth-child(2) {
  transform: translate3d(-3.5em,-6.3em,0);
}

.circular-menu.active .menu-item:nth-child(3) {
  transform: translate3d(-6.5em,-3.2em,0);
}

.circular-menu.active .menu-item:nth-child(4) {
  transform: translate3d(-7em,1em,0);
}

.circular-menu.active .menu-item:nth-child(5) {
  transform: translate3d(-7em,1em,0);
}

/**
 * The other theme for this menu
 */

.circular-menu.circular-menu-left {
  right: auto; 
  left: 1em;
}

.circular-menu.circular-menu-left .floating-btn {
  background-color: hsl(217, 89%, 61%);
}

.circular-menu.circular-menu-left:after {
  background-color: hsl(217, 89%, 61%);
}

.circular-menu.circular-menu-left.active .floating-btn i {
  transform: rotate(90deg);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(1) {
  transform: translate3d(-1.1em,-6.8em,0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(2) {
  transform: translate3d(2em,-6.5em,0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(3) {
  transform: translate3d(4.8em,-4.9em,0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(4) {
  transform: translate3d(6.6em,-2.1em,0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(5) {
  transform: translate3d(6.7em,1.1em,0);
}

.exprience-item .text-shadow {
  transition: transform .3s ease-in-out, text-shadow 0.5s ease-in-out;
}


.exprience-item:hover .text-shadow {
  text-shadow: 1px 1px 3px white;
  transform: translateX(10px);
  transition: transform .3s ease-in-out, text-shadow 0.5s ease-in-out;
}


.skill-card{
  border: 1px dashed black; 
}


