@font-face {
  font-family: 'Roboto-Regular';
  src: url(../fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto-Light';
  src: url(../fonts/Roboto-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto-Thin';
  src: url(../fonts/Roboto-Thin.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto-Black';
  src: url(../fonts/Roboto-Black.ttf) format('truetype');
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto-Regular', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.project-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}


.spinner-wheel {
  position: fixed;
  z-index: 99;
  /* make higher than whatever is on the page */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100px;
  height: 100px;
}

.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #1a1919;
}

.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}

.loader:after {
  color: #FF3D00;
  transform: rotateY(70deg);
  animation-delay: .4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {

  0%,
  100% {
    box-shadow: .2em 0px 0 0px currentcolor;
  }

  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }

  25% {
    box-shadow: 0 .2em 0 0px currentcolor;
  }

  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }

  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }

  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }

  75% {
    box-shadow: 0px -.2em 0 0 currentcolor;
  }

  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}


.wrapper {
  margin: 10vh
}

.pcard {
  border: none;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  overflow: hidden;
  border-radius: 20px;
  min-height: 450px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);

  @media (max-width: 768px) {
    min-height: 350px;
  }

  @media (max-width: 420px) {
    min-height: 300px;
  }

}

.card-hover-effect {
  -webkit-transform: rotate(0) scale(1);
  transform: rotate(0) scale(1);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.card-hover-effect:hover {
  -webkit-transform: rotate(0) scale(0.95);
  transform: rotate(0) scale(0.95);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.img-hover-effect img {
  -webkit-filter: grayscale(0) blur(0) brightness(0.8);
  filter: grayscale(0) blur(0) brightness(0.8);

  -webkit-transform: rotate(0) scale(1);
  transform: rotate(0) scale(1);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.img-hover-effect:hover img {
  -webkit-filter: blur(2px) brightness(0.6);
  filter: blur(2px) brightness(0.6);

  -webkit-transform: rotate(5deg) scale(1.4) ;
  transform: rotate(5deg) scale(1.4);
}

.hover-scale-up {
  -webkit-transform: rotate(0) scale(1);
  transform: rotate(0) scale(1);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.hover-scale-up:hover {
  -webkit-transform: rotate(0) scale(1.02);
  transform: rotate(0) scale(1.02);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.hover-scale-down {
  -webkit-transform: rotate(0) scale(1);
  transform: rotate(0) scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.hover-scale-down:hover {
  -webkit-transform: rotate(0) scale(0.98);
  transform: rotate(0) scale(0.98);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.gradient-background {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
