<div class="container fade-me-in min-vh-100" hx-get="./pages/education.html" hx-trigger="revealed"
hx-swap="afterend">
    <!-- Tabs navs -->
    <ul class="nav nav-tabs mt-3 mb-4 d-flex justify-content-center text-white" id="ex1" role="tablist">
        <li class="nav-item" role="button">
            <a class="nav-link fs-6 active" hx-get="./pages/projects-1.html" hx-swap="innerHTML"
                hx-target="#proj-tab-content" hx-trigger="load, click" id="proj-tab-1" role="tab">Petroleum
                Engineering</a>
        </li>
        <li class="nav-item" role="button">
            <a class="nav-link fw-bold" hx-get="./pages/projects-3.html" hx-swap="innerHTML"
                hx-target="#proj-tab-content" id="proj-tab-3" role="tab">Software and Web Development</a>
        </li>
        <li class="nav-item" role="button">
            <a class="nav-link fw-bold" id="proj-tab-3" role="tab">Others</a>
        </li>
    </ul>

    <!-- Tabs navs -->

    <!-- Tabs content -->
    <div class="tab-content py-1 px-2 " id="proj-tab-content">

    </div>
    <!-- Tabs content -->
</div>

<script>
    $(document).ready(function () {
        $('.nav-link').click(function () {
            $('.nav-link').removeClass('active');
            $(this).closest('.nav-link').addClass('active')
        });
    });
</script>