<section class="fade-me-in">
    <div class="">
        <div class="row row-cols-md-2 row-cols-lg-3">
            <div class="col mb-3">
                <div class="card shadow-5">
                    <img src="../assets/img/projects/software/wims_software.jpg" class="card-img-top card-image" alt="" />
                    <div class="px-3 py-2 fw-bold fs-6">
                        Well integirty management software in production life cycle for oil and gas wells
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-sm btn-primary" hx-get="./pages/projects/project001.html"
                            hx-swap="innerHTML" hx-trigger="click" hx-target="#modalContent" type="button"
                            class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#projectModal">Read
                            More</button>
                    </div>
                </div>
            </div>
            <div class="col mb-3">
                <div class="card shadow-5">
                    <img src="../assets/img/projects//software/welltest_software.jpg" class="card-img-top card-image" alt="" />
                    <div class="px-3 py-2 fw-bold fs-6">
                        Well test module for gas wells
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-sm btn-primary" hx-get="./pages/projects/project001.html"
                            hx-swap="innerHTML" hx-trigger="click" hx-target="#modalContent" type="button"
                            class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#projectModal">Read
                            More</button>
                    </div>
                </div>
            </div>
            <div class="col mb-3">
                <div class="card shadow-5">
                    <img src="../assets/img/tec.jpg" class="card-img-top card-image" alt="" />
                    <div class="px-3 py-2 fw-bold fs-6">
                        Production allocation software
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-sm btn-primary" hx-get="./pages/projects/project001.html"
                            hx-swap="innerHTML" hx-trigger="click" hx-target="#modalContent" type="button"
                            class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#projectModal">Read
                            More</button>
                    </div>
                </div>
            </div>

            <div class="col mb-3">
                <div class="card shadow-5">
                    <img src="../assets/img/projects/software/etl.png" class="card-img-top card-image" alt="" />
                    <div class="px-3 py-2 fw-bold fs-6">
                        ETL pipelines for daily spread sheets, well log data and surface sensors data
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-sm btn-primary" hx-get="./pages/projects/project001.html"
                            hx-swap="innerHTML" hx-trigger="click" hx-target="#modalContent" type="button"
                            class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#projectModal">Read
                            More</button>
                    </div>
                </div>
            </div>

            <div class="col mb-3">
                <div class="card shadow-5">
                    <img src="../assets/img/projects/software/attendance.jpeg" class="card-img-top card-image" alt="" />
                    <div class="px-3 py-2 fw-bold fs-6">
                        Staff attendance management software
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-sm btn-primary" hx-get="./pages/projects/project001.html"
                            hx-swap="innerHTML" hx-trigger="click" hx-target="#modalContent" type="button"
                            class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#projectModal">Read
                            More</button>
                    </div>
                </div>
            </div>

            <div class="col mb-3">
                <div class="card shadow-5">
                    <img src="../assets/img/projects/software/ofwater.png" class="card-img-top card-image" alt="" />
                    <div class="px-3 py-2 fw-bold fs-6">
                        Oilfield water sample management, analysis and interpretation software
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-sm btn-primary" hx-get="./pages/projects/project001.html"
                            hx-swap="innerHTML" hx-trigger="click" hx-target="#modalContent" type="button"
                            class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#projectModal">Read
                            More</button>
                    </div>
                </div>
            </div>
            
            <div class="col mb-3">
                <div class="card shadow-5">
                    <img src="../assets/img/projects/software/fleeto.png" class="card-img-top card-image" alt="" />
                    <div class="px-3 py-2 fw-bold fs-6">
                        Fleeto: Vessel tracking and monitoring software
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-sm btn-primary" hx-get="./pages/projects/project001.html"
                            hx-swap="innerHTML" hx-trigger="click" hx-target="#modalContent" type="button"
                            class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#projectModal">Read
                            More</button>
                    </div>
                </div>
            </div>

            <div class="col mb-3">
                <div class="card shadow-5">
                    <img src="../assets/img/projects/software/wms.jpg" class="card-img-top card-image" alt="" />
                    <div class="px-3 py-2 fw-bold fs-6">
                        Well management software for South Pars Gas Field wells
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-sm btn-primary" hx-get="./pages/projects/project001.html"
                            hx-swap="innerHTML" hx-trigger="click" hx-target="#modalContent" type="button"
                            class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#projectModal">Read
                            More</button>
                    </div>
                </div>
            </div>

            <div class="col mb-3">
                <div class="card shadow-5">
                    <img src="../assets/img/projects/software/diagnostic.jpg" class="card-img-top card-image" alt="" />
                    <div class="px-3 py-2 fw-bold fs-6">
                        Well diagnostic and surveillance module
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-sm btn-primary" hx-get="./pages/projects/project001.html"
                            hx-swap="innerHTML" hx-trigger="click" hx-target="#modalContent" type="button"
                            class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#projectModal">Read
                            More</button>
                    </div>
                </div>
            </div>
            

        </div>


    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="projectModal" tabindex="-1" aria-labelledby="projectModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content" id="modalContent">
        </div>
    </div>
</div>